* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gold;
  background-color: green;
  background-image: url("/img/table.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Exo 2", sans-serif;
}

h1, h2, h3 {
  margin: 1rem 0;
}

h2 {
  margin-top: 2rem;
}

img {
  width: 100px;
}

#controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 250px;
}

button {
  background: gold;
  outline: none;
  border: none;
  border-radius: .25rem;
  padding: .45rem 1rem;
}

button:hover {
  cursor: pointer;
  background: #fdf4be;
}

p {
  border: 1px solid gold;
  border-radius: .25rem;
  padding: .25rem .5rem;
  text-align: center;
}

span {
  font-weight: 600;
}

.player {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  max-width: 225px;
  margin-top: 2rem;
  border: 1px solid #ffd900a1;
  border-radius: .5rem;
  padding: 1rem .5rem;
}

.no-click {
  pointer-events: none;
}