* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gold;
  background-color: green;
  background-image: url("/img/table.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Exo 2", sans-serif;
  position: relative;
}

h1, h2, h3 {
  margin: 1rem 0;
}

h2 {
  margin-top: 2rem;
  font-size: 1.25rem;
}

img {
  width: 100px;
}

span {
  font-weight: 600;
}

.hide {
  visibility: hidden;
}

/* CONTROLS */

#controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 250px;
}

#controls p {
  border: 1px solid gold;
  border-radius: .25rem;
  padding: .25rem .5rem;
  text-align: center;
}

button {
  background: gold;
  outline: none;
  border: none;
  border-radius: .25rem;
  padding: .45rem 1rem;
}

button:hover {
  cursor: pointer;
  background: #fdf4be;
}

.no-click {
  pointer-events: none;
}

/* PLAYER AREAS */

.player {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  max-width: 225px;
  margin: 2.5rem 0;
  border: 1px solid #ffd900a1;
  border-radius: .5rem;
  padding: 1rem .5rem;
  position: relative;
}

.player-info {
  text-align: center;
}

.player-info span {
  display: block;
}

/* WAR CARDS */

.war-cards {
  position: absolute;
  display: flex;
}

#player1-war4 {
  z-index: 1;
  position: absolute;
  right: -4.5rem;
}

#player1-war3 {
  z-index: 2;
  position: absolute;
  right: -6rem;
}

#player1-war2 {
  z-index: 3;
  position: absolute;
  right: -7.5rem;
}

#player1-war1 {
  z-index: 4;
  position: absolute;
  right: -9rem;
}

#player2-war4 {
  z-index: 1;
  position: absolute;
  left: -4.5rem;
}

#player2-war3 {
  z-index: 2;
  position: absolute;
  left: -6rem;
}

#player2-war2 {
  z-index: 3;
  position: absolute;
  left: -7.5rem;
}

#player2-war1 {
  z-index: 4;
  position: absolute;
  left: -9rem;
}

/* WAR BANNER and GAME OVER */

.war, #over {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 128, 0, .6);
}

/* GAME OVER */

#over {
  flex-direction: column;
  background: rgba(0, 128, 0, .9);
}

#over h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  background: darkgreen;
  padding: .5rem 1.5rem;
  border-radius: .25rem;
}

.totals {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 3rem;;
}

.end-score {
  border: 1px solid gold;
  border-radius: .25rem;
  background: darkgreen;
  text-align: center;
  padding: .5rem;
  font-weight: 600;
}

.end-score p:first-child {
  margin-bottom: .5rem;
}